* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@media (min-width: 588px) {
  .wrapper {
    min-width: 588px;
    min-height: 712px;
  }
}

@media (max-width: 375px) {
  .wrapper {
    min-width: 100vw;
    min-height: 100vh;
  }
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #fff;
  background: #1E1E1E;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

}


body.dark-theme a {
  color: #fff;
}

body.light-theme,
body.light-theme a {
  color: #000;
}

body.light-theme .wrapper {
  background-color: #fff;
}

body.light-theme .links a {
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.wrapper {
  width: 100%;
  max-width: 360px;
  height: 800px;
}

.profile {
  display: inline-block;
  text-align: center;
  margin-top: 3.5rem;
  padding: 1.5rem;
}

.profile img {
  display: block;
  width: 112px;
  height: 112px;
  border-radius: 9999px;
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

.profile span {
  margin-top: 0.5rem;
  display: block;
  line-height: 1.5rem;
  font-weight: 500;
}

body.dark {
  background-color: #292c35;
}

.switch {
  display: grid;
  place-items: center;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
}

.links {
  padding: 1.5rem;
}

.links a {
  display: block;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  padding: 1rem 1.5rem;

  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #FFFFFF;
}

.links a:not(:first-child) {
  margin-top: 1rem;
}

.links a:hover {
  cursor: pointer;
}

.social-media {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

footer p a {
  text-decoration: underline;
}

footer p a:hover {
  text-decoration: none;
}